<!DOCTYPE html>
<html>
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Postage Calculator</title>

    <!-- BootStrap Inits -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

  </head>
  <body>

    <!-- Image and text -->
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="#" style="color: black;">
            <img src="img/phpl_logo.png" height="30" class="d-inline-block align-top" alt="" style="margin-right: 50px">
            Postage Calculator
        </a>
    </nav>

  <div class="container" style="padding-top: 50px">
