<% include ../partials/header %>

<!--Jumbotron-->
<div class="jumbotron">

    <h1 class="h1-reponsive mb-3 blue-text"><strong>Welcome to <span style="color: #2F3E76">Platinum</span><span style="color: #F18B00">HPL's</span> Postage Calculator</strong></h1>
    <p class="lead">Please enter the details of the mailing below, please note you will be shown prices from all Postage Providers that qualify (Royal Mail and DSA's).</p>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        Item Weight
        <div class="md-form">
            <input type="number" name="weight" id="weight" class="form-control" style="width: 75%" placeholder="Weight (g)">
        </div>
      </div>
      <div class="col">
        <p id="labelMargin">Item Class</p>
        <select class="mdb-select" id="ItemClassDropdown">
            <option value="test" disabled selected>Pick an option</option>
            <option value="letter" data-icon="http://icons.iconarchive.com/icons/zerode/plump/256/Mail-icon.png" class="rounded-circle">Letter</option>
            <option value="" data-icon="http://www.postal-calculator.co.uk/img/large-letter.gif" class="rounded-circle">Large Letter</option>
            <option value="" data-icon="http://images3.newscred.com/cD1kY2I2YTU2NjU3MGQ4OTdjMGQ2ODgyMWUyMjY3ZjAzMCZnPTc2NzA2OTIyMTA0ZTBlMzk1YmViMjdhOTRhMGMyZGRl" class="rounded-circle">Parcel</option>
        </select>
      </div>
      <div class="col">
        <p id="labelMargin">Mail Class</p>
        <select class="mdb-select">
            <option value="" disabled selected>Pick an option</option>
            <option value="" data-icon="https://thumb7.shutterstock.com/display_pic_with_logo/83138/83138,1286651408,1/stock-vector-a-cartoon-military-general-with-a-helmet-on-62644885.jpg" class="rounded-circle">General</option>
            <option value="" data-icon="http://www.nusbs.co.uk/wp-content/uploads/2016/05/loan.jpg" class="rounded-circle">Business</option>
            <option value="" data-icon="https://marketingland.com/wp-content/ml-loads/2016/08/display-800x450.jpg" class="rounded-circle">Advertising</option>
        </select>
      </div>
      <div class="col">
        <p id="labelMargin">Mail Speed</p>
        <select class="mdb-select">
            <option value="" disabled selected>Pick an option</option>
            <option value="" data-icon="https://pbs.twimg.com/profile_images/588408892352237568/T8mnDbEQ_400x400.png" class="rounded-circle">First</option>
            <option value="" data-icon="https://www.partyproducts.com.au/images/cat_pics/birthday_2nd.png" class="rounded-circle">Second</option>
            <option value="" data-icon="https://static1.squarespace.com/static/50b44a1be4b00df0eabf750d/t/54ad9ce5e4b0ad481ce9c3a0/1420664060253/" class="rounded-circle">Economy</option>
        </select>
      </div>
      <div class="col">
        Number of Items
        <div class="md-form">
            <input type="number" id="form1" class="form-control" style="width: 75%" placeholder="Total Number">
        </div>
      </div>
      <div class="col">
        Margin
        <div class="md-form">
            <input type="number" id="form1" class="form-control" style="width: 75%" placeholder="Margin">
        </div>
      </div>
    </div>
    <hr class="my-4">
    <p>For issues or queries please email postagecalculator@platinumhpl.co.uk</p>
    <p class="lead">
        <a class="btn aqua-gradient btn-lg" href="/results" role="button">Calculate</a>
    </p>

</div>
<!--Jumbotron-->

<% include ../partials/footer %>
