<% include ../partials/header %>

<a href="/"><h5 style="color: #2196F3"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</h5></a>

<div class="jumbotron">
  <!--Grid row-->
    <div class="row">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-6 pb-4">
        <!--Featured image-->
        <div class="view overlay hm-white-slight rounded z-depth-2">
            <img src="https://www.thedeliverygroup.co.uk/wp-content/uploads/2017/02/sm_logo_RGB_72dpi.png" alt="Secured Mail Logo" class="imageHelper">
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-xl-6">
        <!--Excerpt-->
        <h3 class="mb-4 font-bold dark-grey-text">
        <strong>Secured Mail Prices</strong>
        </h3>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
        possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
    </div>
    <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<div class="jumbotron">
  <!--Grid row-->
    <div class="row">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-6 pb-4">
        <!--Featured image-->
        <div class="view overlay hm-white-slight rounded z-depth-2">
        <img src="http://www.platinumhpl.co.uk/files/myimages/RM.png" alt="Royal Mail Logo" class="imageHelper">
        <a>
            <div class="mask"></div>
        </a>
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-xl-6">
        <!--Excerpt-->
        <h3 class="mb-4 font-bold dark-grey-text">
        <strong>Royal Mail Prices</strong>
        </h3>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
        possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>

    </div>
    <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<div class="jumbotron">

</div>

<% include ../partials/footer %>
